/*sourced from Mr. Hardman, importing styling from seperate scripts*/
/*Variable for the reoccuring background color of all content boxes*/
/*Variable for the reoccuring background color of all text and more*/
/*Code Sourced from previous activity, gives everything a certain font familt and adjusts the box sizing, sourced from Mr. Hardman*/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  /*this gives every bit of text this font*/
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*This styles every anchor tag to be whitesmoke in color and to not have an underline*/
a {
  text-decoration: none;
  color: whitesmoke;
}

/*This styles every paragraph element to have a font size of 14 during mobile mode, with a white smoke color, center alligned, and certain padding*/
p {
  font-size: 14px;
  color: whitesmoke;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

/*This styles every H1 tag to have 300% font size, during mobile, with color of white smoke, and text-alligned center with certain margin*/
h1 {
  font-size: 300%;
  color: whitesmoke;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 30px;
}

/*This styles the body to have no margin and gives it the black background color*/
body {
  margin: 0;
  background-color: #000000;
}

/*This is used to specify sperate styling for screen widths that are desktops where the minimum width has to be 1280px*/
@media all and (min-width: 1280px) {
  /*styles the paragraph elements during desktop mode*/
  p {
    /*changes line height to 30px*/
    line-height: 30px;
    font-size: 16px;
    padding-left: 40px;
    padding-right: 40px;
  }
  /*styles the h1 during desktop mode*/
  h1 {
    font-size: 400%;
    margin-top: 60px;
  }
}

/*Code Sourced from previous activity by Mr. Hardman with many modifications to suit my project. This is what styles the navigation bar and all the elements inside of it*/
nav {
  /*auto height to make all anchors fit as well when the screen size changes*/
  height: auto;
  background-color: #191919;
  width: 100%;
  padding-top: 3px;
  /*displayed as flex to determine type of boxes generated for the navs when the screen size changes*/
  display: -webkit-box;
  display: flex;
  /*development for all browsers*/
  -webkit-display: flex;
  -ms-display: flex;
  -o-display: flex;
  /*This is to allow the elements to wrap instead of resizing and getting smaller*/
  flex-wrap: wrap;
  /*development for all browsers*/
  -webkit-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  /*To allow the content and items to allign in the center*/
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

nav ul {
  /*displayed as flex to determine type of boxes generated for the navs when the screen size changes*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*This is to allow the elements to wrap instead of resizing and getting smaller*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-left: 11px;
  /*Removes the bullet points*/
  list-style: none;
}

nav ul li a {
  /*displays it as inline block*/
  display: inline-block;
  border-style: solid;
  border-color: #191919;
  text-align: left;
  margin-left: 9px;
  padding: 5px;
  /*Removes underline on A elements */
  text-decoration: none;
  margin-bottom: 2px;
  margin-right: 2px;
  /*grows by 1*/
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /*allows it to not shrink*/
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 78px;
      flex-basis: 78px;
  /* styling the hovered link on menu bar */
}

nav ul li a:hover, nav ul li a:focus {
  border-color: whitesmoke;
}

/*This is used to specify sperate styling for screen widths that are desktops where the minimum width has to be 1280px*/
@media all and (min-width: 1280px) {
  /*Code Sourced from previous activity with modifications by Mr. Hardman, styles the nav bar and all elements inside of it in the desktop mode*/
  nav {
    /*styles anchors during desktop mode*/
    /*Code Sourced from previous activity with modifications, styles UL in desktop mode*/
  }
  nav a {
    margin-left: 25px;
    margin-bottom: 5px;
    margin-right: 5px;
    -ms-flex-preferred-size: 215px;
        flex-basis: 215px;
  }
  nav ul {
    margin-left: 30px;
  }
}

/*this styles the popup message once the client sends their message*/
#status {
  margin-bottom: 0;
}

/*This is where the animation is stated and will be played when called in the script. This is the where the animation for the status pop message is called*/
#status.animation {
  -webkit-animation: status 4s ease forwards;
          animation: status 4s ease forwards;
}

/*Animation to make popup message after message sent to dissapear*/
@-webkit-keyframes status {
  /*here is when the message appears*/
  0% {
    opacity: 1;
    pointer-events: all;
  }
  /*at almost the ending of the animation, opcaity is the same and pointer events is the same*/
  90% {
    opacity: 1;
    pointer-events: all;
  }
  /*The opacity turns to 0 at the end of the animation time making it dissapear and the pointer events is gone */
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
@keyframes status {
  /*here is when the message appears*/
  0% {
    opacity: 1;
    pointer-events: all;
  }
  /*at almost the ending of the animation, opcaity is the same and pointer events is the same*/
  90% {
    opacity: 1;
    pointer-events: all;
  }
  /*The opacity turns to 0 at the end of the animation time making it dissapear and the pointer events is gone */
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

/*This styles the quote texts color, changes its font, alligns it in center and changes font size*/
.quote {
  /*$text-background-color is the variable for the reoccuring color thats white smoke used in text mostly, it is placed here and it indicates that the text will be whitesmoke, which is the value of the variable*/
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  margin: 0px;
  font-size: 27px;
  text-align: center;
}

/*This styles the info boxes present in the about me page and index to have 100% width with margin of 7% on the top with a charcoal background color*/
.info-box {
  background-color: #191919;
  width: 100%;
  margin-top: 7%;
  /*displays it as inline block*/
  display: inline-block;
  /*styles the images in the info box div*/
  /*styles the h2 in the info box fivs*/
  /*styles paragraph elements in info box div*/
  /*styles all anchors in the info box div*/
  /*styles the h1's of the info box */
}

.info-box img {
  /*width Takes up 50% of the div*/
  width: 50%;
  /*floats the picture to the right*/
  float: right;
}

.info-box h2 {
  /*alligns the h2 in the center*/
  text-align: center;
  font-size: 200%;
  color: whitesmoke;
  margin-top: 70px;
  margin-bottom: 20px;
}

.info-box p {
  /*floats paragraph element to left side of div*/
  float: left;
  width: 50%;
  margin-bottom: 40px;
  margin-top: 0;
}

.info-box a {
  /*displays it as inline block*/
  display: inline-block;
  /*positions it to be from the left 25%*/
  position: relative;
  left: 25%;
  /*brings the anchor 50% back on the width of the anchor*/
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  /*gives it a solid white border with padding*/
  border-style: solid;
  border-color: whitesmoke;
  padding: 10px;
}

.info-box h1 {
  margin-top: 90px;
}

/*this is the div being styled containing the logo and hamza elafifi heading*/
#header {
  /*Code Sourced from: https://stackoverflow.com/questions/11701311/logo-image-and-h1-heading-on-the-same-line, with modifications*/
  /*Code Sourced from: https://stackoverflow.com/questions/11701311/logo-image-and-h1-heading-on-the-same-line, with modifications*/
}

#header img {
  /*floats the logo to the left side*/
  float: left;
  margin-left: 45px;
  width: 125px;
  height: 100px;
}

#header h2 {
  /*positions the h2 (Hamza Elafifi) to be from the top, 18px, and from the left 5 px, meaning from the image*/
  position: relative;
  top: 18px;
  left: 5px;
  color: whitesmoke;
  font-size: 50px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 40px;
}

/*This styles the images in the social media icons div to have certain width and height*/
#social img {
  width: 26px;
  height: 26px;
}

/*this styles the footer containing the copyright text and socials to have a margin-top of 10%*/
footer {
  margin-top: 10%;
  /*Styles the copyright text*/
}

footer #copyright {
  font-size: 80%;
  margin-bottom: 20px;
}

/*This styles every major photo to have a shadow 3d transition effect during hovering*/
/* CODE SOURCED FROM: https://www.webdesignerdepot.com/2014/05/8-simple-css3-transitions-that-will-wow-your-users/ ALL CONTENT OWNED BY THEIR RESPECTIVE OWNERS. Added supporting webiste prefixes*/
.photo:hover {
  /*creates the box shadow, $text-background-color is the variable for the reocurring white smoke color*/
  box-shadow: 1px 1px whitesmoke, 2px 2px whitesmoke, 3px 3px whitesmoke;
  /*To allow web compatibility*/
  -moz-box-shadow: 1px 1px whitesmoke, 2px 2px whitesmoke, 3px 3px whitesmoke;
  /*To allow web compatibility*/
  -webkit-box-shadow: 1px 1px whitesmoke, 2px 2px whitesmoke, 3px 3px whitesmoke;
  /*Translates the photo -3 px during hovering*/
  transform: translateX(-3px);
  /*To allow web compatibility*/
  -webkit-transform: translateX(-3px);
  -moz-transform: translateX(-3px);
  -ms-transform: translateX(-3px);
  /*specify the length of transitions and web compatibility prefixes*/
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
  transition: width 1s, height 1s, -webkit-transform 1s;
  transition: width 1s, height 1s, transform 1s;
  transition: width 1s, height 1s, transform 1s, -webkit-transform 1s;
  -moz-transition: width 1s, height 1s, transform 1s;
  -o-transition: width 1s, height 1s, transform 1s;
  -webkit-transition: width 1s, height 1s, transform 1s;
}

/*this styles the form div containing the conact form, image, text and links*/
#form {
  margin-top: 100%;
  margin-top: 7%;
  margin-bottom: 10%;
  background-color: #191919;
  /*Displays the form as inline block to take the minimum height and width needed to fit the content*/
  display: inline-block;
  /*styles the inputs*/
  /*this styles the submit button to have a width of 10%*/
  /*this floats the paragraph elements to the left side and take up 50% of the width of the div*/
  /*This styles the big contact image to take up 50% of the width of the div and float in the right section*/
  /*styles the textarea in the contact me form, gives it certain width, height, margin-top, gives it charcoal background color, white border and white text*/
}

#form input {
  color: whitesmoke;
  background-color: #191919;
  border-color: whitesmoke;
  padding: 10px;
  /*this styles the input boxes too have certain width and height*/
  height: 50px;
  width: 270px;
  margin-top: 10px;
}

#form #submit {
  width: 10%;
}

#form p {
  float: left;
  width: 50%;
  margin-top: 0;
}

#form #contact-img {
  width: 50%;
  float: right;
}

#form textarea {
  background-color: #191919;
  border-color: whitesmoke;
  color: whitesmoke;
  padding: 10px;
  width: 270px;
  margin-top: 10px;
}

/*This is used to specify sperate styling for screen widths that are desktops where the minimum width has to be 1280px*/
@media all and (min-width: 1280px) {
  /*styles the form div in desktop mode*/
  #form {
    /*gives it a margin of 7% on all sides but bottom*/
    margin: 7%;
    margin-bottom: 0;
    /*styles images in the socials div*/
    /*styles the inputs*/
    /*styles the text-area*/
  }
  #form #social img {
    /*gives the images in the socials div a margin-bottom 25px*/
    margin-bottom: 25px;
  }
  #form input {
    /*changes width of the inputs to 433 px during desktop mode*/
    width: 433px;
  }
  #form textarea {
    /*changes the width and height during desktop mode*/
    width: 433px;
    height: 200px;
  }
  /*This styles the info box during the desktop mode*/
  .info-box {
    /*margin on all sides of 7% except bottom*/
    margin: 7%;
    margin-bottom: 0;
    /*takes up 86% of screen width*/
    width: 86%;
    /*Styles the paragraph elements in info-box during desktop mode*/
    /*Styles the H1 elements in info-box during desktop mode*/
    /*Styles the H2 elements in info-box during desktop mode*/
  }
  .info-box p {
    /*floats to the left side*/
    float: left;
    /*takes 50% of div width*/
    width: 50%;
    padding-top: 10px;
    padding-bottom: 40px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .info-box h1 {
    margin-top: 140px;
  }
  .info-box h2 {
    /*Alligns it to center*/
    text-align: center;
    font-size: 200%;
    color: whitesmoke;
    margin-top: 130px;
    margin-bottom: 40px;
  }
  /*Styles the elements in header during desktop mode*/
  #header {
    /*Code Sourced from: https://stackoverflow.com/questions/11701311/logo-image-and-h1-heading-on-the-same-line, with modifications. styles the logo duriing desktop mode*/
    /*Code Sourced from: https://stackoverflow.com/questions/11701311/logo-image-and-h1-heading-on-the-same-line, with modifications, styles the h2 in header during desktop mode*/
  }
  #header img {
    /*floats it to left sode*/
    float: left;
    margin-left: 50px;
    width: 125px;
    height: 100px;
  }
  #header h2 {
    margin-left: 40px;
  }
}
