// SASS variables for colors

/*Variable for the reoccuring background color of all content boxes*/
$content-background-color: #191919;

/*Variable for the reoccuring background color of all text and more*/
$text-background-color: whitesmoke;